.map-connections {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.map-room {
    z-index: 1;
}

.map-room .mud-icon-root.visited {
    color: var(--mud-palette-lines-default);
}